<nav>
    <div class="place_content_nav">
        <button class="btn_menu">
            <img src="/assets/img/menu.png" alt="">
        </button>
        <button (click)="backtoStart()" class="asos">asos</button>
        <div>
            <button (click)="toBrands('women')" class="btn_gender btn_nav">
                <h3>WOMEN</h3>
            </button>
            <button (click)="toBrands('men')" class="btn_gender btn_nav">
                <h3>MEN</h3>
            </button>
        </div>
        <input class="input" placeholder="Search for Items" type="text">
        <div class="box_btn_nav_right">
            <button (click)="searchActive = !searchActive" class="btn_search btn_nav">
                <img class="img_nav" src="/assets/img/search_white.png" alt="">
            </button>
            <button (click)="toSavedItems()" class="btn_nav btn_heart">
                <img class="img_nav" src="/assets/img/heart.png" alt="">
            </button>
            <div (mouseleave)="hoverPreviewCart(false)" (mouseenter)="hoverPreviewCart(true)" class="btn_cart_box">
                <button (click)="openBasket()" class="btn_bag btn_nav">
                    <img class="img_nav" src="/assets/img/bag.png" alt="">
                </button>
                <app-preview-cart *ngIf="showCart && cartArray.length > 0" class="preview_cart slide-down"></app-preview-cart>
            </div>
        </div>
    </div>
</nav>
<div *ngIf="searchActive === true" class="container_search">
    <h2>Search</h2>
    <input class="input_res" type="text" placeholder="Search for items">
    <button (click)="searchActive = false" class="btn_cross_input">
        <img src="/assets/img/cross_black.png" alt="">
    </button>
    <div class="output_autocomplete_res">

    </div>
</div>