<nav>
    <div class="place_content_nav">
        <h2>asos</h2>
        <div>
            <button class="btn_women">
                <h3>WOMEN</h3>
            </button>
            <button class="btn_men">
                <h3>MEN</h3>
            </button>
        </div>
        <input placeholder="" type="text">
        <button>
            <img src="/assets/img/heart.png" alt="">
        </button>
        <button>
            <img src="/assets/img/bag.png" alt="">
        </button>
    </div>
</nav>