<nav>
    <div class="place_content_nav">
        <h2>asos</h2>
        <div>
            <button class="btn_women btn_nav">
                <h3>WOMEN</h3>
            </button>
            <button class="btn_men btn_nav">
                <h3>MEN</h3>
            </button>
        </div>
        <input placeholder="" type="text">
        <button class="btn_nav">
            <img class="img_nav" src="/assets/img/heart.png" alt="">
        </button>
        <button (mouseleave)="showCart = false" (mouseenter)="showCart = true" class="btn_bag btn_nav"> 
            <img class="img_nav" src="/assets/img/bag.png" alt="">
            <app-preview-cart *ngIf="showCart" class="preview_cart slide-down"></app-preview-cart>
        </button>
    </div>
</nav>