$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.place_cart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    gap: 0.75rem;
    width: 100%;
    background-color: #EEEEEE;
    min-height: calc(100vh - 6rem);
    height: fit-content;
}

.place_empty {
    width: fit-content;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.place_products {
    width: 37.5%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box_products_heading {
    width: 100%;
    background-color: white;
}

.cart_heading {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    padding: 1.5rem;
}

.place_description {
    background-color: white;
    width: calc(100% - 2rem);
    height: 7.5rem;
    padding: 1rem;
}

.box_description_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.25rem 0;
    .box_details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.75rem;
    }
}

.box_description {
    display: flex;
    gap: 1rem;
    img {
        height: 100%;
        width: 6rem;
        object-fit: contain;
    }
}

.box_edit {
    position: relative;
}

.btn_edit {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    background-color: transparent;
    border: none;
    img {
        width: 0.5rem;
        height: 0.5rem;
    }
}

.pop_up_edit {
    z-index: 2;
    position: absolute;
    top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 10rem;
    overflow: auto;
    border: solid 1px rgb(198, 197, 197);
    .btn_popup {
        letter-spacing: 0.075rem;
        width: 100%;
        padding: 0.5rem;
        border: none;
        text-align: left;
        background-color: white;
        &:hover {
            background-color: #f6f6f6;
        }
    }
}

.pop_up_edit::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.pop_up_edit::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.pop_up_edit::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c8c8c8;
}

.description_product {
    text-align: left;
}

.price_product {
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    text-transform: uppercase;
}

.place_checkout {
    width: 23.5%;
    height: fit-content;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
        border-bottom: solid 1px #eeeeee;
        padding-bottom: 1rem;
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        font-weight: bolder;
        text-shadow: 0px 1px, 1px 0px, 1px 1px;
    }
    button {
        width: 100%;
        height: 3.5rem;
        background-color: #018849;
        font-size: 1.4rem;
        font-weight: bolder;
        text-shadow: 0px 1px, 1px 0px, 1px 1px;
        color: white;
        letter-spacing: 0.225rem;
        border: none;
        &:hover {
            background-color: #006637;
        }
    }
}

.box_subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text_subtotal {
        font-size: 0.9rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;
    }
}

.box_shipping_free {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #c8c8c8;
    font-size: 0.85rem;
    width: calc(100% - 2rem);
    .text_shipping_free {
        width: 80%;
    }
}

.box_discount {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text_discount {
    font-size: 0.9rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    padding-bottom: 0.5rem;
}

.box_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
    .text_total {
        font-weight: bolder;
        text-shadow: 0px 0.75px, 0.75px 0px, 0.75px 0.75px;
        letter-spacing: 0.15rem;
    }
    p {
        font-size: 1.1rem;
        text-shadow: 0px 0.75px, 0.75px 0px, 0.75px 0.75px;
        letter-spacing: 0.05rem;
    }
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-width: 3px;
    border-image-slice: 1;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: default;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.9rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
}


/* reset input */

.form__field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.app-bought {
    position: fixed;
    top: 0;
    right: -100%;
    /* start off screen */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 9999;
    transition: right 0.5s ease-in-out;
}

.app-bought.show {
    right: 0;
}