<nav>
    <div class="place_content_nav">
        <div class="place_menu">
            <button (click)="menuActive = !menuActive" class="btn_menu">
                <img src="/assets/img/menu.png" alt="">
            </button>
            <div *ngIf="menuActive" class="box_menu">
                <button (click)="backtoStart()" class="home">Home</button>
                <button (click)="toBrands('women')">
                    <h3>WOMEN</h3>
                </button>
                <button class="men" (click)="toBrands('men')">
                    <h3>MEN</h3>
                </button>
            </div>
        </div>
        <button (click)="backtoStart()" class="asos">esos</button>
        <div>
            <button (click)="toBrands('women')" class="btn_gender btn_nav">
                <h3>WOMEN</h3>
            </button>
            <button (click)="toBrands('men')" class="btn_gender btn_nav">
                <h3>MEN</h3>
            </button>
        </div>

        <div class="output_autocomplete">
            <input (keyup)="showRelatedBrands()" [(ngModel)]="keyword" #inputField class="input" placeholder="Search for Brands" type="text">
            <div *ngIf="relatedItems.length > 0" class="box_output">
                <button (click)="navigateToBrand(output)" *ngFor="let output of relatedItems">
                <p>{{output.name}}</p>
                <p>{{output.gender}}</p>
            </button>
            </div>
        </div>

        <div class="box_btn_nav_right">
            <button (click)="searchActive = !searchActive" class="btn_search btn_nav">
                <img class="img_nav" src="/assets/img/search_white.png" alt="">
            </button>
            <button (click)="toSavedItems()" class="btn_nav btn_heart">
                <img class="img_nav" src="/assets/img/heart.png" alt="">
            </button>
            <div (mouseleave)="hoverPreviewCart(false)" (mouseenter)="hoverPreviewCart(true)" class="btn_cart_box">
                <button (click)="openBasket()" class="btn_bag btn_nav">
                    <img class="img_nav" src="/assets/img/bag.png" alt="">
                </button>
                <app-preview-cart *ngIf="showCart && cartArray.length > 0" class="preview_cart slide-down"></app-preview-cart>
            </div>
        </div>
    </div>
</nav>
<div *ngIf="searchActive === true" class="container_search">
    <h2>Search</h2>
    <input (keyup)="showRelatedBrands()" [(ngModel)]="keyword" class="input_res" type="text" placeholder="Search for Brands">
    <button (click)="searchActive = false" class="btn_cross_input">
        <img src="/assets/img/cross_black.png" alt="">
    </button>
    <div *ngIf="relatedItems.length > 0" class="output_autocomplete_res">
        <button (click)="navigateToBrand(output)" *ngFor="let output of relatedItems">
            <p>{{output.name}}</p>
            <p>{{output.gender}}</p>
        </button>
    </div>
</div>