<app-navbar></app-navbar>
<div class="place_productview_container">
    <div class="container_productview">
        <h1>{{ category?.['categoryName']}}</h1>
        <div class="place_filter_container">
            <div class="container_filter">
                <div class="box_btn_filter">
                    <button [ngStyle]="{ 'background-color': popUpSort ? '#f6f6f6' : 'transparent' }" (click)="this.popUpSort = !this.popUpSort" class="btn_filter">
                        <p>Sort</p>
                        <img [ngClass]="{'transform_img': popUpSort}" src="/assets/img/arrow-down.png" alt="">
                    </button>
                    <app-sort (categoryUpdated)="onCategoryUpdated($event)" [category]="category" class="place_popup" *ngIf="popUpSort"></app-sort>
                </div>
                <div class="box_btn_filter">
                    <button (click)="this.popUpCategory = !this.popUpCategory" class="btn_filter">
                        <p>Category</p>
                        <img src="/assets/img/arrow-down.png" alt="">
                    </button>
                    <app-category (categoryUpdated)="onCategoryUpdated($event)" [category]="category" class="place_popup" *ngIf="popUpCategory"></app-category>
                </div>
                <button class="btn_filter">
                    <p>Sort</p>
                    <img src="/assets/img/arrow-down.png" alt="">
                </button>
                <button class="btn_filter">
                    <p>Sort</p>
                    <img src="/assets/img/arrow-down.png" alt="">
                </button>
                <button class="btn_filter">
                    <p>Sort</p>
                    <img src="/assets/img/arrow-down.png" alt="">
                </button>
            </div>
        </div>
        <p class="styles_found">{{ category?.['itemCount']}} styles found</p>
        <div class="place_products_container">
            <div class="products_container">
                <div *ngFor="let product of  category?.['products']" class="product_box">
                    <img [src]="'http://images.' + product.imageUrl.slice(7)">
                    <p class="description">{{product['name']}}</p>
                    <p class="price">{{product['price']['current']['text']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>