<app-navbar></app-navbar>
<div class="place_productview_container">
    <div class="container_productview">
        <h1>{{ brandData?.['categoryName']}}</h1>
        <div class="place_filter_container">
            <div class="container_filter">
                <app-sort [brandData]="brandData"></app-sort>
                <app-category [brandData]="brandData"></app-category>
                <app-style [brandData]="brandData"></app-style>
                <app-color [brandData]="brandData"></app-color>
                <app-type [brandData]="brandData"></app-type>
            </div>
        </div>
        <p class="styles_found">{{ brandData?.['itemCount']}} styles found</p>
        <div class="place_products_container">
            <div class="products_container">
                <div (click)="openDetailView(product.id)" *ngFor="let product of  brandData?.['products']" class="product_box">
                    <img [src]="'http://images.' + product.imageUrl.slice(7)">
                    <p class="description">{{product['name']}}</p>
                    <p class="price">{{product['price']['current']['text']}}</p>
                </div>
            </div>

        </div>
        <div class="box_sites">
            <button *ngIf="selectedNumber !== sites[0]" (click)="setOffset(1)">
                <img class="img_back" src="/assets/img/arrow.png" alt="">
                <img class="img_back" src="/assets/img/arrow.png" alt="">
            </button>
            <button (click)="setOffset(selectedNumber - 1)" *ngIf="sites.length > 1 && selectedNumber !== sites[0]">
                <img class="img_back" src="/assets/img/arrow.png" alt="">
            </button>
            <button [ngClass]="{ 'selected_number': selectedNumber === number }" *ngFor="let number of sites" (click)="setOffset(number)">{{ number }}</button>
            <button (click)="setOffset(selectedNumber + 1)" *ngIf="sites.length > 1 && selectedNumber !== sites.slice(-1)[0]">
                <img class="img_next" src="/assets/img/arrow.png" alt="">
            </button>
            <button *ngIf=" selectedNumber !== sites.slice(-1)[0]" (click)="setOffset(sites.slice(-1)[0])">
                <img class="img_next" src="/assets/img/arrow.png" alt="">
                <img class="img_next" src="/assets/img/arrow.png" alt="">
            </button>
        </div>
    </div>
</div>