.place_productview_container {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_productview {
    width: 100%;
    h1 {
        text-align: center;
        letter-spacing: 0.15rem;
    }
}

.place_filter_container {
    height: fit-content;
    padding: 0.5rem 0;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-top: solid 1px rgb(219, 219, 219);
}

.container_filter {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.styles_found {
    text-align: center;
    padding: 1rem 0;
    color: rgb(137, 137, 137);
}

.place_products_container {
    display: flex;
    justify-content: center;
}

.products_container {
    width: 85%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.product_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75rem;
    width: fit-content;
    width: 20%;
    min-width: 16rem;
    min-height: 0;
    cursor: pointer;
    img {
        object-fit: cover;
    }
    p {
        margin: 0;
    }
}

.product_box img:hover {
    filter: brightness(80%);
}

.description {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: 1.25rem;
}

.price {
    font-weight: bolder;
    font-size: 1.1rem;
    color: rgb(116, 116, 116);
}

.box_sites {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
    }
}

.btn_skip {
    &:hover {
        filter: drop-shadow(1px 0.25px 0.25px black);
    }
}

.btn_number {
    &:hover {
        color: rgba(0, 0, 0, 0.395);
    }
}

.selected_number {
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.img_back {
    width: 1rem;
    height: 1rem;
}

.img_next {
    width: 1rem;
    height: 1rem;
    transform: rotate(180deg);
}

.box_skip_sites {
    display: flex;
}

@media screen and (max-width: 1083px) {
    .products_container {
        flex-wrap: wrap;
        width: 99%;
    }
    .product_box {
        width: 17.03rem;
    }
    .container_filter {
        flex-wrap: wrap;
    }
    .btn_filter {
        width: 11rem;
        min-width: 8rem;
    }
}

@media screen and (max-width: 840px) {
    .product_box {
        width: 19rem;
        img {
            height: 20.5rem;
            padding-bottom: 0;
        }
        /* min-width: 12rem; */
    }
}

@media screen and (max-width: 700px) {
    .btn_filter {
        width: 8rem;
    }
    .product_box {
        width: 20%;
        img {
            height: 16.5rem;
            padding-bottom: 0;
        }
    }
    .products_container {
        flex-wrap: wrap;
        width: 95%;
    }
}

@media screen and (max-width: 570px) {
    .product_box {
        width: 18rem;
        img {
            height: 18.5rem;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: 370px) {
    .product_box {
        width: 15rem;
        img {
            height: 16rem;
            padding-bottom: 0;
        }
    }
    .btn_filter {
        width: 7rem;
        min-width: 0;
    }
    h1 {
        font-size: 1.6rem;
    }
}