.place_productview_container {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_productview {
    width: 100%;
    h1 {
        text-align: center;
        letter-spacing: 0.15rem;
    }
}

.place_filter_container {
    height: fit-content;
    padding: 0.5rem 0;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-top: solid 1px rgb(219, 219, 219);
}

.container_filter {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.box_btn_filter {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.btn_filter {
    width: 11rem;
    min-width: 8rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px rgb(217, 217, 217);
    border-top: solid 1px rgb(217, 217, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    letter-spacing: 0.025rem;
    p {
        font-weight: 100;
        font-size: 1rem;
    }
    img {
        width: 0.525rem;
        height: 0.525rem;
    }
    &:hover {
        border-bottom: solid 1px rgb(176, 176, 176);
        border-top: solid 1px rgb(176, 176, 176);
    }
}

.transform_img {
    transform: rotate(180deg);
}

.place_popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    position: absolute;
    height: fit-content;
    left: 0;
    width: 175%;
    height: fit-content;
    background-color: #f6f6f6;
    z-index: 1;
}

.styles_found {
    text-align: center;
    padding: 1rem 0;
    color: rgb(137, 137, 137);
}

.place_products_container {
    display: flex;
    justify-content: center;
}

.products_container {
    width: 85%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.product_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75rem;
    width: fit-content;
    width: 18rem;
    min-width: 16rem;
    min-height: 0;
    img {
        object-fit: cover;
    }
    p {
        margin: 0;
    }
}

.description {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: 1.25rem;
}

.price {
    font-weight: bolder;
    font-size: 1.1rem;
    color: rgb(116, 116, 116);
}

@media screen and (max-width: 1083px) {
    .products_container {
        flex-wrap: wrap;
        width: 99%;
    }
    .product_box {
        width: 17.03rem;
    }
}

@media screen and (max-width: 867px) {
    .container_filter {
        flex-wrap: wrap;
    }
    .btn_filter {
        width: 11rem;
        min-width: 8rem;
    }
    .product_box {
        width: 19rem;
        img {
            height: 20.5rem;
            padding-bottom: 0;
        }
        /* min-width: 12rem; */
    }
}

@media screen and (max-width: 700px) {
    .btn_filter {
        width: 8rem;
    }
    .product_box {
        width: 20%;
        img {
            height: 16.5rem;
            padding-bottom: 0;
        }
    }
    .products_container {
        flex-wrap: wrap;
        width: 95%;
    }
}

@media screen and (max-width: 570px) {
    .product_box {
        width: 18rem;
        img {
            height: 18.5rem;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: 370px) {
    .product_box {
        width: 15rem;
        img {
            height: 16rem;
            padding-bottom: 0;
        }
    }
    .btn_filter {
        width: 7rem;
        min-width: 0;
    }
    h1 {
        font-size: 1.6rem;
    }
}