::ng-deep ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    margin-top: 4.125rem;
    z-index: -1;
}

 ::ng-deep ::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

 ::ng-deep ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c8c8c8;
    min-height: 7rem;
}