<app-navbar></app-navbar>
<div class="place_Brand_container">
    <div class="container_brands">
        <div class="box_h1">
            <h1 *ngIf="(genderId) === 'men'">A-Z Men's Brands</h1>
            <h1 *ngIf="(genderId) === 'women'">A-Z Women's Brands</h1>
        </div>
        <div>
            <div class="brands" *ngFor="let group of brandsByLetter" [attr.data-letter]="group">
                <div class="brand-group">
                    <div class="letters">
                        <p>{{group.letter}}</p>
                    </div>
                    <div class="brand-items" *ngFor="let brand of group.brands">
                        <button (click)="selectProductsId(brand)">{{brand.title}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>