<app-navbar class="nav"></app-navbar>
<div *ngIf="dataLoaded" class="place_detailview">
    <div class="place_img_sticky">
        <div class="box_preview">
            <button (click)="changeImage(i)" *ngFor="let image of product['media']['images']; let i = index" class="preview_img">
            <img [src]="'http://images.' + image.url.slice(7)" alt="">
        </button>
        </div>
        <div class="box_img">
            <img class="main_img" id="mainImg" [src]="'http://images.' + product['media']['images'][0]['url'].slice(7)" alt="">
            <img class="arrow_left" src="/assets/img/arrow.png" alt="" (click)="swipeImgLeft()">
            <img class="arrow_right" src="/assets/img/arrow.png" alt="" (click)="swipeImgRight()">
        </div>
    </div>
    <div class="place_details">
        <div class="box_details">
            <h1>{{product['variants'][0]['name']}}</h1>
            <h2>{{product['price']['current']['text']}}</h2>
            <div class="box_discount">
                <div class="box_pricetag">
                    <img src="/assets/img/price_tag.png" alt="">
                </div>
                <p>NEW HERE? <br>Get 15% off 100,000+ styles!* <br>With code: <span>NEWBIE</span> </p>
            </div>
            <p class="text_info"><span>color:</span> {{product['variants'][0]['colour']}}</p>
            <div class="place_size">
                <p class="text_info"> <span>size:</span></p>
                <div [ngStyle]="{ 'margin-bottom': popUpSize ? '10rem' : '0' }" *ngIf="product['variants'].length >= 2" class="box_size">
                    <div (onFocusOut)="this.popUpSize = !this.popUpSize" (click)="this.popUpSize = !this.popUpSize" *ngIf="popUpSize" class="popup_size">
                        <button class="btn_popup" (click)="onSizeButtonClick(variant['brandSize'])" *ngFor="let variant of product['variants']; let i = index">{{variant['brandSize']}}</button>
                    </div>
                    <button class="btn_select" (click)="this.popUpSize = !this.popUpSize">
                        <p *ngIf="!selectedSize">Please Select</p>
                        <p *ngIf="selectedSize">Selected Size: {{selectedSize}}</p>
                        <img src="/assets/img/arrow-down.png" alt="">
                    </button>
                </div>
                <p *ngIf="product['variants'].length <= 1">{{product['variants'][0]['brandSize']}}</p>
            </div>
            <div class="place_btns">
                <p *ngIf="chooseSize" class="size_error">Please select from the available colour and size options</p>
                <div class="box_btns">
                    <button [disabled]="isButtonDisabled" (click)="checkValueBuy()" class="btn_buy">
                        <img [@fadeInOut]="addToCart ? 'visible' : 'hidden'" src="/assets/img/hook.png" alt="">
                        <p>Add to Bag</p>
                    </button>

                    <div class="box_btn_like">
                        <button *ngIf="!liked" (click)="checkValueLike()" class="btn_like">
                            <img src="/assets/img/heart.png" alt="">
                        </button>
                        <button *ngIf="liked" (click)="checkValueLike()" class="btn_like">
                            <img src="/assets/img/heart_black.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="place_description">
                <div class="box_description">
                    <button (click)="turnImg('Product Details')" class="btn_description">
                      <p>Product Details</p>
                      <img class="vertical" [ngClass]="{ 'rotate-90': selectedPopup === 'Product Details', 'rotate-back': selectedPopup !== 'Product Details' }" src="/assets/img/minus.png" alt="">
                      <img class="horizontal" src="/assets/img/minus.png" alt="">
                    </button>
                    <div class="popUpProductDetails" *ngIf="selectedPopup === 'Product Details'" [ngClass]="{ 'active': selectedPopup === 'Product Details' }">
                        <p class="heading" *ngIf="product['brand']['name'].length > 0"><span class="heading_span">Brand:  </span>{{product['brand']['name']}}</p>
                        <p class="details" *ngIf="product['productType']['name'].length > 0" class="details"><span>Producttype: </span>{{product['productType']['name']}}</p>
                        <p class=" details" *ngIf="product['productCode'] > 0"><span>Productcode: </span>{{product['productCode']}}</p>
                    </div>
                </div>
                <div *ngIf="product['brand']['description']?.length > 0" class="box_description">
                    <button (click)="turnImg('Brand')" class="btn_description">
                        <p>Brand</p>
                        <img class="vertical" [ngClass]="{ 'rotate-90': selectedPopup === 'Brand', 'rotate-back': selectedPopup !== 'Brand' }" src="/assets/img/minus.png" alt="">
                        <img class="horizontal" src="/assets/img/minus.png" alt="">
                    </button>
                    <p class="popUpDescription fadeInUp" *ngIf="selectedPopup === 'Brand'" [ngClass]="{ 'active': selectedPopup === 'Brand' }">{{ removeTags(product['brand'].description) }}</p>
                </div>
                <div *ngIf="product['info'].sizeAndFit?.length > 0 " class="box_description">
                    <button (click)="turnImg('Size and Fit')" class="btn_description">
                        <p>Size and Fit</p>
                        <img class="vertical" [ngClass]="{ 'rotate-90': selectedPopup === 'Size and Fit', 'rotate-back': selectedPopup !== 'Size and Fit' }" src="/assets/img/minus.png" alt="">
                        <img class="horizontal" src="/assets/img/minus.png" alt="">
                    </button>
                    <p class="popUpDescription fadeInUp" *ngIf="selectedPopup === 'Size and Fit'" [ngClass]="{ 'active': selectedPopup === 'Size and Fit' }" [innerHTML]="product['info']['sizeAndFit']"></p>
                </div>
                <div *ngIf="product['info']['aboutMe']?.length > 0" class="box_description">
                    <button (click)="turnImg('About Me')" class="btn_description">
                        <p>About Me</p>
                        <img class="vertical" [ngClass]="{ 'rotate-90': selectedPopup === 'About Me', 'rotate-back': selectedPopup !== 'About Me' }" src="/assets/img/minus.png" alt="">
                        <img class="horizontal" src="/assets/img/minus.png" alt="">
                    </button>
                    <p class="popUpDescription fadeInUp" [ngClass]="{ 'active': selectedPopup === 'About Me' }" *ngIf="selectedPopup === 'About Me'" [innerHTML]="product['info'].aboutMe"></p>
                </div>
            </div>
        </div>
    </div>
</div>